body {
  background-color: #FFF;
  color: #090809;
  font-family: 'Lato', sans-serif;
  margin: 0;
  position: relative;
  text-align: center;
}

h1, h2, nav {
  text-transform: uppercase;
}

h1 {
  margin: 1.5rem 0;
}

h3 {
  color: #5546B3;
  margin-bottom: 1rem;
}

hr {
  background-color: #A195EE;
  border: 2px solid #A195EE;
  margin: 1rem auto 2rem auto;
  max-width: 50px;
}

img {
  border-radius: .25rem;
  height: auto;
  margin-bottom: 1rem;
  max-width: 100%;
}

ul {
  margin: 0;
}

/* Navigation */
nav {
  background-color: #090809;
  transition: top 0.3s;
}

nav ul {
  margin-left: auto;
}

nav a, nav button {
  color: #FFF;
}

nav a:hover, .navbar-brand {
  color: #A195EE;
}

.navbar-toggler {
  font-size: 80%;
  padding: 0.5rem;
}

/* Header */
header {
  padding: calc(1.5rem + 56px) 0 1.5rem;
}

header img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

header .btn-social {
  color: #090809;
}

/* Footer */
footer {
  background-color: #090809;
  color: #FFF;
  padding: 3rem 0;
}

footer .btn-social {
  color: #FFF;
}

/* Sections */
section {
  padding: 4rem 0;
}

#about, #contact {
  background-color: #EBEBF2;
}

#about hr, #contact hr {
  background-color: #FFF;
  border-color: #FFF;
}

/* Content */
.bio {
  margin: 0;
}

.col-md-5, .col-md-7, .col-md-9 {
  margin: auto;
}

.divider-project {
  border-color: #EBEBF2;
  border-width: 1px;
  margin: 4rem auto 5rem auto;
  max-width: 250px;
}

.modal-backdrop.fade, .modal-backdrop.fade.in {
  opacity: 0.95;
}

.modal-content {
  padding: 0;
  background-color: transparent;
}

.modal-content, .form-control {
  border: 0px;
}

.modal-body img {
  margin: 0;
  max-height: 80vh;
}

.form-control:focus {
  -webkit-box-shadow: none;
  border: 1px solid #A195EE;
}

/* Buttons */
.btn-social {
  padding: 0 0.5rem;
}

.btn-social:hover, .btn-social:focus, .btn-social:active {
  color: #A195EE;
}

.btn-project {
  background-color: #FFF;
  border-color: #5546B3;
  color: #5546B3;
  margin-bottom: 1rem;
}

.btn-project:hover, .btn-project:focus, .btn-project:active {
  background-color: #5546B3;
  color: #FFF;
}

.btn-modal {
  background-color: transparent;
  border: 0;
  color: #FFF;
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  opacity: 1;
  padding: 0;
}

.btn-modal:hover, .btn-modal:focus {
  color: #A195EE;
}

.btn-send {
  background-color: #5546B3;
  border: none;
  color: #FFF;
}

.btn-send:hover, .btn-send:focus, .btn-send:active {
  background-color: #A195EE;
  color: #090809;
}
